/* @tailwind base;
@tailwind components;
@tailwind utilities; */

.chat_body {
  @apply fcol relative grow text-zinc-100 h-min flex-nowrap w-full;
  & > .chat_items_container {
    @apply fcol w-full;
    & > .chat_body_bottom {
      @apply min-h-[15rem];
    }
    & > .chat_item_container {
      @apply frow w-full justify-center max-md:py-4 pt-4 py-5 relative;

      &.thumbnail {
        @apply max-h-[160px] overflow-hidden cursor-pointer;
        & > .thumbnail_bottom {
          visibility: visible;
          background-image: linear-gradient(to bottom, #fff0, #ffffff2d);
          & .wrap {
            display: flex;
          }
        }
      }
      &.no_thumbnail {
        & > .thumbnail_bottom {
          visibility: visible;
          background-color: #ffffff0c;
          & .unwrap {
            display: flex;
          }
        }
      }
      & > .thumbnail_bottom {
        @apply frow justify-center items-center absolute bottom-0 left-0 h-[40px] w-full;
        visibility: hidden;
        & .wrap,
        & .unwrap {
          display: none;
        }
      }

      & > .chat_item.user > .chat_item_main > .content {
        @apply whitespace-pre-wrap;
      }

      & > .chat_item {
        @apply fcol record-fit-width gap-1 max-md:gap-y-0 cursor-auto;

        & > .chat_item_header {
          @apply frow text-xs text-zinc-400 gap-2;
        }

        & > .chat_item_main {
          @apply frow gap-x-4 gap-y-3 max-md:flex-wrap w-full;

          line-height: 1.75rem;
          letter-spacing: 0.45px;

          & > .editor {
            @apply self-center min-h-[18rem] max-h-[18rem] w-[82%] max-sm:w-[90vw]
              max-md:order-3 rounded grow shrink border-2 border-transparent focus:border-opacity-80 focus:border-_info;
            transition: border-color ease 0.1s;
          }

          & > .content_container {
            @apply fcol flex-wrap self-center grow
              overflow-y-auto min-w-[16rem] max-md:order-3 gap-2;
          }

          & > .mdblock {
            @apply text-zinc-100;
          }

          & > .q-space {
            @apply hidden max-lg:block;
          }

          & > .right_btn_group {
            @apply frow flex-nowrap self-start h-fit max-w-[5rem] gap-1 my-[-0.25rem] items-center;
            & > .default {
              @apply frow flex-nowrap self-start min-w-[5rem] max-w-[5rem] gap-1 items-center;
            }
            & > .editor {
              @apply frow flex-nowrap gap-1;
              & > .q-btn.check {
                @apply border-x-2 border-_secondary;
                & .q-icon {
                  @apply text-_secondary;
                }
              }
              & > .q-btn.cancel .q-icon {
                @apply text-_negative;
              }
            }
            & .q-btn {
              @apply text-xs text-zinc-300 p-2;
            }
          }
        }
      }
    }
  }
}

.more_popup {
  @apply fcol bg-[#242428] text-white select-none quick 
    rounded w-[12rem] py-1;

  & > .q-btn {
    @apply py-2;

    & .main {
      @apply frow gap-3 items-center text-base pr-1 w-[10rem];
    }
  }
}

#app_header_slot > .chat_top_bar {
  @apply frow grow pr-2 text-zinc-300;
  & > .q-btn .q-icon {
    @apply max-md:text-[1.35rem];
  }

  & > .left_btn_group {
    @apply frow items-center gap-2 max-md:gap-0;
  }

  & > .right_btn_gruop {
    @apply frow gap-4;

    & > .q-btn {
      @apply w-[3rem];
    }
  }
}
