@import url("@/styles/LeftBar.css");
@import url("@/styles/chat.css");
@import url("@/styles/documents.css");
@import url("@/styles/settings.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  @apply bg-zinc-700;
}

#app {
  @apply scroll-smooth text-base;
  letter-spacing: 0.5px;
  line-height: 1.75rem;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

ul,
ol {
  @apply ml-[2rem];
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

ol > li,
ul > li {
  @apply list-item h-fit whitespace-normal p-0.5 m-0;
}

pre.hljs {
  @apply whitespace-pre p-3 pb-4 fcol rounded relative w-full;

  & > .header {
    @apply frow px-1 pb-1 text-zinc-500;
  }

  & > .btn_group {
    @apply absolute top-3 right-3 font-serif;
  }

  & > .container {
    @apply frow flex-nowrap gap-3;

    & > .hl_line_number {
      @apply px-2 min-w-fit border-zinc-600 select-none text-right text-zinc-400;
    }

    & > code {
      @apply overflow-x-auto bg-opacity-20 pb-1 grow;
      scrollbar-width: thin;
    }
  }
}

._hidden {
  display: none;
}

.quick {
  --q-transition-duration: 0.1s !important;
}

.q-menu--dark {
  box-shadow: none;
  @apply border border-zinc-500 rounded rounded-t-none;
}

.q-dark {
  @apply bg-zinc-900;
}

.q-item--active {
  @apply text-[#4ea7ff];
}

.q-tooltip {
  @apply bg-zinc-700 shadow-md text-base;
}

.q-notification {
  transition-duration: 0.2s;
}

.q-focus-helper {
  outline: none !important;
}

.q-table {
  & th {
    @apply text-base;
  }

  & tbody td {
    @apply text-base;
  }
}

.default-bg {
  @apply bg-zinc-700;
}

.frow {
  @apply flex flex-row;
}

.fcol {
  @apply flex flex-col;
}

.app-header {
  @apply frow bg-zinc-800 border-b border-zinc-600 h-[3.5rem]
    items-center grow;

  & .q-btn {
    @apply text-[0.82rem] w-[4rem] max-md:w-[3.5rem] h-[3.45rem];
  }
  & > .menu_switch {
    @apply text-zinc-300 lg:hidden;
  }

  & > #app_header_slot {
    @apply grow;
  }
}

.fit-width {
  @apply w-[80%] max-[480px]:w-[100vw] max-sm:w-[90vw] md:w-[75%] lg:w-[60%] max-w-[800px] xl:w-[80%];
}

.record-fit-width {
  @apply md:w-[85%] w-[90%] lg:w-[90%] max-w-[1100px] xl:w-[80%];
}

._editor_area {
  padding-bottom: 17px;
  line-height: 1.2rem;
}

.chat_body_input_container {
  @apply fcol frow gap-3 max-[480px]:gap-2 bg-zinc-800 bg-opacity-[.9]
    p-3 max-[480px]:px-2.5 max-[480px]:pt-2.5 rounded-lg
    max-[480px]:rounded-none drop-shadow-lg fit-width;

  & > .inputer_container {
    @apply frow gap-3 max-[480px]:gap-2 items-center;

    & > .q-btn {
      @apply w-[3.5rem] h-[2.95rem] max-sm:w-[3.4rem]
        max-[480px]:w-[3rem] max-[480px]:h-[2.6rem] max-sm:h-[2.9rem];
    }

    & > .inputer {
      @apply bg-zinc-800 border border-zinc-500 rounded-t-md shadow-xl grow;
      @apply min-h-[3rem] max-h-[35vh] overflow-y-auto;

      & .q-field__control {
        @apply min-h-[3rem];
      }

      &.q-field--focused {
        @apply border-zinc-500;
      }

      &.q-field--filled.q-field--dark.q-field--highlighted
        .q-field__control::before {
        background-color: #ffffff08;
      }

      &.q-textarea .q-field__native {
        @apply _editor_area;
      }
    }
  }
}

.Avatar {
  @apply text-zinc-100 bg-_primary p-[0.4rem] rounded cursor-pointer relative;
  @apply after:w-full after:h-full after:absolute after:left-0 after:top-0;
  @apply after:bg-white after:bg-opacity-0 after:transition-all;
  &:hover {
    @apply after:bg-opacity-10;
  }
}

.Avatar_system {
  @apply bg-[#c74b4b];
}

.error_container {
  @apply fcol text-base border border-red-500
    bg-[#944e4e] p-4 rounded;
  &.darker {
    @apply bg-[#8E3D3D];
  }

  & > div {
    @apply fcol gap-2;
  }
}

.mdblock {
  @apply gap-0 fcol w-full overflow-hidden;

  & > * {
    @apply mt-4;

    &:first-child {
      @apply mt-0;
    }
  }

  & > p > strong {
    @apply text-white;
  }

  & > ul,
  & > ol {
    @apply mt-0;
    & > li {
      @apply mt-2;
    }
  }

  & > h1 + p {
    @apply mt-2;
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    @apply text-white py-0 mb-1;
    line-height: 1.8em;
    & + p {
      @apply mt-0;
    }
    & + ul,
    & + ol {
      & > li:first-child {
        @apply mt-0;
      }
    }
  }

  & > h1 {
    @apply text-[1.5rem] mt-6 pt-2 mb-2;
    @apply after:block after:h-[2px] after:w-full after:bg-zinc-400 after:mt-4;
    & + h2 {
      @apply mt-6;
    }
  }

  & > h2 {
    @apply text-[1.4rem] mt-11 mb-2;
    &:first-child {
      @apply after:block after:h-[2px] after:w-full after:bg-zinc-400 after:mt-3 after:mb-2;
    }
    & + h3 {
      @apply mt-1;
    }
  }

  & > h3 {
    @apply text-[1.3rem] mt-8 mb-2;
    & + h4 {
      @apply mt-1;
    }
  }

  & > h4,
  & > h5,
  & > h6 {
    @apply frow items-center before:inline-block before:mr-[6px] before:w-[4px] before:h-[0.9em];
  }

  & > h4 {
    @apply text-[1.25rem] mt-6 before:bg-teal-500 mb-2.5;
  }

  & > h5 {
    @apply before:bg-cyan-500;
    @apply text-[1.2rem] mt-4 mb-2.5;
  }

  & > h6 {
    @apply before:bg-blue-500;
    @apply text-base mt-4 mb-2.5;
  }

  & > p {
    & > code {
      @apply bg-zinc-700 py-1 px-1 mx-1 rounded;
    }
  }

  & > p > code,
  & > pre {
    line-height: 1.5rem;
    letter-spacing: 0px;
  }
}