@import url(./LeftBar.css);
@import url(./Chat.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
  font-size: 16px;
  @apply bg-zinc-700;
}

#app {
  @apply scroll-smooth;
}

ul,
ol {
  @apply ml-4;
}

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

ol > li,
ul > li {
  @apply list-item h-fit whitespace-normal p-0.5 m-0;
}

pre.hljs {
  @apply whitespace-pre p-3 pb-4 fcol rounded relative w-full;

  & > .header {
    @apply frow px-1 pb-1 text-zinc-500;
  }

  & > .btn_group {
    @apply absolute top-3 right-3 font-serif;
  }

  & > .container {
    @apply frow flex-nowrap gap-3;

    & > .hl_line_number {
      @apply px-2 min-w-fit border-zinc-600 select-none text-right text-zinc-400;
    }

    & > code {
      @apply overflow-x-auto bg-opacity-20 pb-1 grow;
      scrollbar-width: thin;
    }
  }
}

.quick {
  --q-transition-duration: 0.1s !important;
}

.q-menu--dark {
  box-shadow: none;
  @apply border border-zinc-500 rounded rounded-t-none;
}

.q-dark {
  @apply bg-zinc-900;
}

.q-item--active {
  @apply text-[#4ea7ff];
}

.q-tooltip {
  @apply bg-zinc-700 shadow-md text-base;
}

.q-notification {
  transition-duration: 0.2s;
}

.q-focus-helper {
  outline: none !important;
}

.default-bg {
  @apply bg-zinc-700;
}

.frow {
  @apply flex flex-row;
}

.fcol {
  @apply flex flex-col;
}

.app-header {
  @apply frow bg-zinc-800 border-b border-zinc-600 h-[3.5rem]
    items-center grow;

  & .q-btn {
    @apply text-[0.82rem] w-[4rem] max-md:w-[3.5rem] h-[3.45rem];
  }
  & > .menu_switch {
    @apply text-zinc-300 lg:hidden;
  }

  & > #app_header_slot {
    @apply grow;
  }
}

.page_container {
  @apply max-sm:max-w-[100vw] grow;
}

.fit-width {
  @apply w-[80%] max-[480px]:w-[100vw] max-sm:w-[90vw] md:w-[75%] lg:w-[60%] max-w-[800px] xl:w-[80%];
}

.record-fit-width {
  @apply md:w-[85%] w-[90%] lg:w-[90%] max-w-[1100px] xl:w-[80%];
}

.chat_body_input_container {
  @apply fcol frow gap-2 max-[480px]:gap-2 bg-zinc-800 bg-opacity-[.9]
    p-3 max-[480px]:p-2 max-[480px]:pt-2.5 rounded-lg
    max-[480px]:rounded-none drop-shadow-lg fit-width;

  & > .inputer_container {
    @apply frow gap-3 max-[480px]:gap-2 items-center;

    & > .q-btn {
      @apply w-[3.5rem] h-[2.95rem] max-sm:w-[3.4rem]
        max-[480px]:w-[3rem] max-[480px]:h-[2.6rem] max-sm:h-[2.9rem];
    }

    & > .inputer {
      @apply bg-zinc-800 border border-zinc-500 rounded-t-md shadow-xl grow;
      @apply min-h-[3rem] max-h-[35vh] overflow-y-auto;

      & .q-field__control {
        @apply min-h-[3rem];
      }

      &.q-field--focused {
        @apply border-zinc-500;
      }

      &.q-field--filled.q-field--dark.q-field--highlighted
        .q-field__control::before {
        background-color: #ffffff08;
      }

      &.q-textarea .q-field__native {
        padding-bottom: 17px;
      }
    }
  }
}

.Avatar {
  @apply text-zinc-100 bg-_primary p-[0.4rem] rounded cursor-pointer relative;
  @apply after:w-full after:h-full after:absolute after:left-0 after:top-0;
  @apply after:bg-white after:bg-opacity-0 after:transition-all;
  &:hover {
    @apply after:bg-opacity-10;
  }
}

.Avatar_system {
  @apply bg-[#c74b4b];
}

.error_container {
  @apply fcol text-base border border-red-500
    bg-[#944e4e] p-4 rounded;
  &.darker {
    @apply bg-[#8E3D3D];
  }
}
